<%= form_for(projects_inversion) do |f| %>
  <% if projects_inversion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(projects_inversion.errors.count, "error") %> prohibited this projects_inversion from being saved:</h2>

      <ul>
      <% projects_inversion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %>
    <%= f.text_field :project_id %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
