<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @projects_objetive.project %>
</p>

<p>
  <strong>Name:</strong>
  <%= @projects_objetive.name %>
</p>

<%= link_to 'Edit', edit_projects_objetive_path(@projects_objetive) %> |
<%= link_to 'Back', projects_objetives_path %>
