<p id="notice"><%= notice %></p>

<h1>Projects</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Objetives</th>
      <th>Desciption</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Contribution</th>
      <th>Term</th>
      <th>Start</th>
      <th>Finish</th>
      <th>Start real</th>
      <th>Finish real</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td ><%= project.user.name + " " + project.user.lastname %></td>
        <td><%= project.name %></td>
        <td>
          <table class="table table-bordered">
            <%project.projects_objetives.each do |obj|%>
            <tr>
              <td><%=obj.name%></td>
            </tr>
            <%end%>
          </table>
        </td>
        <td><%= project.desciption %></td>
        <td><%= project.status %></td>
        <td><%= project.priority %></td>
        <td><%= project.contribution %></td>
        <td><%= project.term %></td>
        <td><%= project.start %></td>
        <td><%= project.finish %></td>
        <td><%= project.start_real %></td>
        <td><%= project.finish_real %></td>
        <td><%= link_to 'Show', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
