<p id="notice"><%= notice %></p>

<h1>Projects Benefits</h1>

<table>
  <thead>
    <tr>
      <th>Project</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects_benefits.each do |projects_benefit| %>
      <tr>
        <td><%= projects_benefit.project %></td>
        <td><%= projects_benefit.name %></td>
        <td><%= link_to 'Show', projects_benefit %></td>
        <td><%= link_to 'Edit', edit_projects_benefit_path(projects_benefit) %></td>
        <td><%= link_to 'Destroy', projects_benefit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Projects Benefit', new_projects_benefit_path %>
